* {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: Verdana, Tahoma, sans-serif
}

body {
    background-color: #1d561f;
}

#title {
    color: white;
}

#playing_area {
    margin: 20px auto 10px;
    padding: 20px;
    min-height: 475px;
    width: 80%;
    border: 5px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player1,
#player2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    #playing_area {
        width: auto;
    }
}

@media (max-width: 1100px) {
    #playing_area {
        width: fit-content;
    }
    #player1,
    #player2 {
        flex-direction: column;
    }
}

@media (max-width: 815px) {
    #playing_area {
        flex-direction: column;
    }
    #player1,
    #player2 {
        flex-direction: row;
    }
}

#player1MainArea,
#player2MainArea {
    position: relative;
}

#player1Card,
#player2Card {
    visibility: hidden;
    max-height: 315px;
    max-width: 225px;
}

#player1_extra_card,
#player2_extra_card {
    visibility: hidden;
    position: absolute;
    top: 12%;
    left: -10%;
    height: 310px;
    width: auto;
    border-radius: 15px;
    z-index: -1;
}

#pile1_container,
#pile2_container {
    position: relative;
    width: fit-content;
    margin: 20px;
}

.playing_card_back {
    width: 150px;
    border-radius: 5px;
    margin: 0;
}

#pile1,
#pile2 {
    position: absolute;
    top: 28%;
    left: 3%;
    width: 120px;
    color: black;
    z-index: 1;
    font-size: 50px;
    background-color: #6b8e23;
    border-radius: 50%;
}

@media (max-width: 570px) {
    #playing_area {
        padding: 10px;
    }
    #player1Card,
    #player2Card {
        width: 150px;
    }
    #player1_extra_card,
    #player2_extra_card {
        height: auto;
        width: 146px;
        top: 16%;
    }
    .playing_card_back {
        width: 100px;
    }
    #pile1,
    #pile2 {
        width: 75px;
        font-size: 35px;
    }
}

#result {
    width: 125px;
}

#deal_btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}